.top-bar {
  background: url(images/wave.jpg) no-repeat;
  height: 500px;
  width: 100%;
  overflow: hidden;
  background-position: center;
  position: relative;
  background-color: #ffbd00;
}
#posHeading {
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-style: italic;
  margin: 25px;
}
.image-container {
  width: 200px;
  height: 100px;
  margin-right: 100px;
  margin-top: 10px;
  float: right;
  background: url(images/logo1.png) no-repeat;
}

.left {
  width: 50%;
  height: fit-content;
  float: left;
}
.right {
  width: 50%;
  height: fit-content;
  float: right;
}
.headings {
  width: 100%;
  height: 100px;
  overflow: hidden;
  background-position: center;
  position: relative;
  background-image: url(images/wave.jpg);
  background-color: #ffbd00;
}

.body {
  font-family: Helvetica, sans-serif;
  background: #23242a;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.dropdown {
  min-width: 15em;
  position: relative;
  margin: 2em;
}

.dropdown * {
  box-sizing: border-box;
}

.select {
  background: #2a2f3b;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px #2a2f3b solid;
  border-radius: 0.5em;
  padding: 1em;
  cursor: pointer;
  transition: background 0.3s;
}

.select-clicked {
  border: 2px #e5b941 solid;
  box-shadow: 0 0 0.8em #e5b941;
}

.select:hover {
  background: #323741;
}

.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: 0.3s;
}

.caret-rotate {
  transform: rotate(180deg);
}

.menu {
  list-style: none;
  padding: 0.2em 0.5em;
  background: #323741;
  border: 1px #363a43 solid;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  color: #9fa5b5;
  position: absolute;
  top: 3em;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
}

.menu li {
  padding: 0.7em 0.5em;
  margin: 0.3em 0;
  border-radius: 0.5em;
  cursor: pointer;
}

.menu li:hover {
  background: #2a2d35;
}

.active {
  background: #23242a;
}

.menu-open {
  display: block;
  opacity: 1;
}

.container {
  margin-top: 100px;
  text-align: center;
}

.container h2 {
  font-size: 2vw;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 40px;
  letter-spacing: 1.2px;
}

form {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 150px;
}

form select {
  width: 450px;
  padding: 15px;
  padding-left: 10px;
  background-color: #fff;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 1.2rem;
  box-shadow: 0 5px 10px 0 rgb(0, 0, 0, 0.25);
  cursor: pointer;
}

.button {
  display: flex;
  height: 50px;
  padding: 0;
  background: #333333;
  border: none;
  align-items: center;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.button:hover {
  background: #313131;
}

.button:active {
  background: #323232;
}

.button__text,
.button__icon {
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  color: #fff;
  height: 100%;
}

.button__icon {
  font-size: 1.5em;
  background: rgba(0, 0, 0, 0.08);
}

.left-div {
  margin-top: 1cm;
  width: 40%;
  float: left;
  height: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-div {
  margin-top: 1cm;
  width: 60%;
  float: right;
  height: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.centered {
  width: 95%;
  padding: 15px;
  padding-left: 10px;
  background-color: #fff;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 1.2rem;
  box-shadow: 0 5px 10px 0 rgb(0, 0, 0, 0.25);
  /* cursor: pointer; */
}

.course-data {
  margin: 10px;
  width: 100%;
  background-color: #3c3c3c;
  border-radius: 10px;
  padding: 15px 20px;
  margin: 10px;
  font-size: medium;
  font-family: sans-serif;
  text-align: left;
  color: white;
  margin: 4px 0px;
  display: inline-block;
}

.button {
  min-width: 10px;
  min-height: 10px;
  border-radius: 100px;
  border: yellow;
}

#add-btn {
  position: right;
  display: inline-block;
  margin-left: 10px;
  height: flex;
  padding: 10px;
  background: #e5b941;
  border: none;
  align-items: center;
  outline: none;
  border-radius: 10px;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  justify-content: center;
}

#table-data {
  display: inline-block;
  margin-right: 10px;
}

.courseTable {
  width: 100%;
}

.table{
  overflow-x: auto;
}

#myTextBox{
  width: 50px;
  margin: 10px;
  border-radius: 5px;
  padding: 5px;
  
}

.addMinusBtn {
  border-radius: 50%;
  background-color: #e5b941;
  color: white;
  width: 30px;
  height: 30px;
  font-size: 18px;
  border: none;
  margin: 5px;
  cursor: pointer;
}

.selectcoursesParent{
  justify-content: space-between;
  width: 100%; 
  flex-direction: row;
  overflow: hidden;
  background-position: center;
  position: relative;

}
.leftCourses {
  width: 70%;
  height: fit-content;
  float: left;
}
.rightCourses {
  width: 30%;
  height: fit-content;
  float: right;
  
  
}

